/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    .carousel-inner {
        .carousel-item {
            @include background(center, cover);
            height: 400px;
            background-attachment: fixed;
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.7);
                content: "";
            }
            @include breakpoint(x-normal) {
               height: 220px;
            }
        }
    }
    .container {
        position: relative;
        height: 100%;
    }
    .banner-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 60%;
        h1 {
            font-size: 40px;
            font-weight: $font-weight-semibold;
            display: block;
            color: $color-white;
            line-height: 1.2em;
            text-transform: $text-uppercase;
            letter-spacing: 0.1em;
            @include breakpoint(x-normal) {
               font-size: 25px;
            }
        }
        p {
            display: block;
            font-size: 20px;
            color: $color-white;
            line-height: 1.3em;
            margin-bottom: 0px;
            @include breakpoint(x-normal) {
               font-size: 14px;
            }
        }
        .view-more {
            a {
                color: $color-white;
                font-size: 16px;
                background: $theme-color;
                line-height: 2.8em;
                padding: 0px 30px;
                display: inline-block;
                border: 1px solid $theme-color;
                border-radius: 50px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                text-transform: $text-capitalize;
                margin-top: 40px;
                min-width: 165px;
                text-align: center;
                @include breakpoint(x-normal) {
                    font-size: 14px;
                    min-width: auto;
                    margin-top: 30px;
                    padding: 0 20px;
                    line-height: 2.4em;
                }
                &:hover {
                    background: $color-black;
                    border-color: $color-black;
                }
            }
        }
    }
    .carousel-indicators {
        bottom: 25px;
        li {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            border-radius: 100%;
            background: transparent;
            border: 1px solid $color-white;
            &.active {
                background: $color-white;
            }
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        background: #343338;
        border-radius: 100%;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        height: 58px;
        width: 58px;
        font-size: 30px;
        @include breakpoint(x-normal) {
            height: 48px;
            width: 48px;
            font-size: 20px;
        }
        &:hover {
            background: $theme-color;
        }
    }
    .carousel-control-prev {
        left: 2%;
    }
    .carousel-control-next {
        right: 2%;
    }
}

/*----- Inner Banner -----*/

.inner-banner-wrapper {
    @include background(center, cover);
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 99;
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
        content: "";
    }
    .inner-banner-content {
        text-align: center;
        h2 {
            color: $color-white;
            font-size: 42px;
            line-height: 1.5;
            font-family: $font-family;
            text-transform: $text-uppercase;
            font-weight: $font-weight-regular;
            margin-bottom: 0px;
            letter-spacing: 0.1em;
            @include breakpoint(x-normal) {
               font-size: 35px;
            }
        }
    }
}