@import 'plugin.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'reset.scss';

/*----------------------------------------------------------
- Dashboard Css
----------------------------------------------------------*/

html,
body {
    height: 100%;
}

svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
    background-color: #f3f3f5;
}

.form-control {
    width: 100% !important;
}

video {
    width: 100%;
    object-fit: unset;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="file"],
.form-control {
    padding: 2px 20px;
    width: 100%;
    border-radius: 0px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    color: #000000;
    font-size: 16px;
    background: $color-white;
    border: 1px solid #dedede;
    @include breakpoint(x-normal) {
        font-size: 14px;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"], 
input[type="file"] {
    height: 40px;
}

label {
    color: #3c3c3c;
}

textarea.form-control {
    border-radius: 0px;
}

select,
select.form-control {
    border: 1px solid #dedede;
    height: 40px;
    padding: 2px 20px;
    background: white url("../images/select-arrow1.png") no-repeat scroll 98% center;
    border-radius: 0px;
    font-size: 16px;
    @include breakpoint(x-normal) {
        font-size: 14px;
    }
}

/*----- Button Css -----*/

.theme-btn,
.black-btn {
    font-size: 14px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    border-radius: 50px;
    line-height: 2.6;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in-out 0s;
    @include breakpoint(x-normal) {
        font-size: 12px;
    }
}


.theme-btn {
    color: $color-white;
    background: $theme-color;
    border: 1px solid $theme-color;
    &:hover {
        background: $color-black;
        border-color: $color-black;
        color: $color-white;
    }
}

.black-btn {
    color: $color-white;
    background: $color-black;
    border: 1px solid $color-black;
    &:hover {
        background: $theme-color;
        border-color: $theme-color;
        color: $color-white;
    }
}

/*----- Dashboard Section -----*/

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 20px 30px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedede;
    .dashboard_logo {
        a {
            display: inline-block;
        }
    }
    .dashboard_header {
        .porfile_bx {
            display: flex;
            align-items: center;
            justify-content: space-between;
            figure {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                margin-right: 10px;
                margin-bottom: 0px;
            }
            a {
                font-size: 15px;
                color: $black;
            }
            .dropdown-menu {
                left: auto!important;
                right: 0;
                transform: translate3d(0, 46px, 0px)!important;
                padding: 0;
                border-radius: 0;
                a {
                    &:hover {
                        background: $theme-color;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
.dashborad_main_wrap {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    background: #f7f7f7;
    margin-top: 95px;
    .dashboard_left {
        background: #343338;
        width: 360px;
        display: inline-block;
        position: fixed;
        top: 95px;
        left: 0;
        bottom: 0;
        @include breakpoint(x-normal) {
            width: 300px;
        }
    }
    .dashboard_nav {
        ul {
            li {
                border-bottom: 1px solid $color-white;
                a {
                    font-size: 18px;
                    color: #f7f7f7;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    position: relative;
                    display: block;
                    transition: all 0.6s ease-in-out 0s;
                    padding: 10px 20px 10px 50px;
                    @include breakpoint(x-normal) {
                        font-size: 16px;
                    }
                    svg {
                        fill: $color-white;
                        position: absolute;
                        top: 50%;
                        left: 25px;
                        margin-right: 10px;
                        height: 15px;
                        width: 15px;
                        transition: all 0.6s ease-in-out 0s;
                        transform: translateY(-50%);
                    }
                    &:hover,
                    &.active {
                        background: $theme-color;
                    }
                }
            }
        }
    }
    .dashboard_right {
        margin-left: 360px;
        display: inline-block;
        height: 100%;
        width: calc(100% - 360px);
        @include breakpoint(x-normal) {
            width: calc(100% - 300px);
            margin-left: 300px;
        }
        .dashboard_inner_wrap {
            padding: 40px 40px 0px;
            min-height: calc(100% - 50px);
            margin-bottom: 52px;
            @include breakpoint(x-normal) {
                padding: 30px 30px 0px;
            }
            .title-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
            }
            .title-sec {
                font-size: 25px;
                color: 151515;
                text-transform: $text-uppercase;
                margin-bottom: 0px;
            }
        }
    }
}

.dashboard_inner_sec {
    background: $color-white;
    border: 1px solid #dbdbdb;
    padding: 60px 45px;
    @include breakpoint(x-normal) {
       padding: 30px;
    }
}

/*----- Profile Page -----*/

.profile-wrap {
    padding-bottom: 25px;
    .profile-content-wrap {
        .profle-content-section {
            max-width: 1100px;
            display: flex;
            justify-content: space-between;
        }
        .profile-img-sec {
            width: 130px;
            position: relative;
            text-align: center;
            margin-right: 30px;
            @include breakpoint(x-normal) {
               margin-right: 10px;
            }
            h5 {
                font-size: 18px;
                color: $black;
            }
            figure {
                margin-bottom: 15px;
                border: 7px solid $color-white;
                background-size: cover;
                background-position: center;
                height: 125px;
                width: 125px;
                border-radius: 100%;
                box-shadow: 0px 0px 6px #dbdbdb;
            }
            .uploadButton {
                border: 7px solid $color-white;
                height: 30px;
                width: 30px;
                border-radius: 100%;
                box-shadow: 0px 0px 7px #dbdbdb;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: -3px;
                right: 12px;
                color: #dddddd;
                background: $color-white;
                
            }
            input[type=file] {
                opacity: 0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                cursor: pointer;
            }
        }
        .profile-content-sec {
            width: calc(100% - 150px);
            margin-left: 50px;
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                h5 {
                    color: #3c3c3c;
                    font-size: 22px;
                    @include breakpoint(x-normal) {
                       font-size: 18px;
                    }
                }
                a {
                    color: #010101;
                    font-size: 14px;
                    &:before {
                        content: "\f040";
                        font-family: FontAwesome;
                        color: $theme-color;
                        margin-right: 4px;
                    }
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            article {
                margin-bottom: 50px;
                &.address-info {
                    textarea {
                        height: 40px;
                    }
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            form {
                .form-group {
                    display: flex;
                    justify-content: space-between;
                    label {
                        width: 28%;
                        margin: 10px 5px 0px 0px;
                    }
                    input {
                        width: 67%;
                    }
                }
                .buttons-wrap {
                    text-align: right;
                    margin-top: 40px;
                    ul {
                        li {
                            list-style: none;
                            display: inline-block;
                            margin-right: 7px;
                            &:last-child {
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Pagination Section -----*/

.pagination-wrap {
    padding: 12px 20px;
    ul {
        li {
            display: inline-block;
            list-style: none;
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                border: 2px solid transparent;
                border-radius: 3px;
                line-height: 1.85em;
                display: inline-block;
                text-align: center;
                color: $color-black;
            }
            &.active {
                a {
                    border-color: $theme-color;
                    background: $theme-color;
                    height: 32px;
                    width: 32px;
                    color: $color-white;
                }
            }
            &:hover {
                a {
                    color: $theme-color;
                }
                &.active {
                    a {
                        background: $color-white;
                    }
                }
            }
        }
    }
}

/*----- Download Model -----*/

.download-model .dashboard_inner_sec,
.upload-model .dashboard_inner_sec {
    padding: 0px;
}
.dashboard_inner_sec{
    table, th, td {
        border: none;
        margin-bottom: 0px;
    }
    th, td {
        text-align: center;
        font-size: 16px;
        font-weight: $font-weight-regular;
        @include breakpoint(x-normal) {
            font-size: 14px;
        }
    }
    thead {
        tr {
            th {
                background: #eeeeee;
                color: #3c3c3c;
                vertical-align: middle;
                text-transform: $text-uppercase;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #dbdbdb;
            td {
                color: #979797;
                vertical-align: middle;
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 2px;
                        a {
                            color: #979797;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Add New model -----*/

.model-wrapper.add-model,
.edit-model .model-form {
    max-width: 767px;
    @include breakpoint(x-normal) {
        max-width: 100%;
    }
}
.model-wrapper {
    .model-form {
        margin-bottom: 35px;
    }
    h5 {
        color: #020000;
        font-weight: $font-weight-medium;
        margin-bottom: 25px;
    }
    .upload-image {
        border: 2px dashed #e1e1e1;
        margin-bottom: 20px;
        form {
            position: relative;
            width: 100%;
            height: 55px;
        }
        button {
            transition: all 0.3s ease-in-out 0s;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            text-transform: $text-capitalize;
            &.uploadButton {
                border-radius: 0;
            }
        }
        input[type=text] {
            border: none;
            height: 55px;
            padding-right: 135px;
        }
        input[type=file] {
            opacity: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            cursor: pointer;
            z-index: 999;
        }
    }
    .tag-wrap {
        border: 1px solid #e3e3e3;
        padding: 10px;
        ul {
            margin-bottom: 10px;
            li {
                list-style: none;
                display: inline-block;
                width: 110px;
                height: 35px;
                background: #e8e8e8;
                border: 1px solid #e8e8e8;
                border-radius: 3px;
                padding: 0px;
                margin-bottom: 0px;
                position: relative;
                color: #5b5b5b;
                padding: 0 15px;
                line-height: 2.1em;
                margin-right: 10px;
                .close-btn {
                    background: none;
                    height: auto;
                    width: auto;
                    padding: 0;
                    border: none;
                    min-width: auto;
                    margin: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 10px;
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        color: #5b5b5b;
                    }
                }
            }
        }
        h6 {
            margin-bottom: 0px;
            color: $black;
        }
    }
    .edit {
        margin-bottom: 10px;
        a {
            color: #010101;
            font-size: 14px;
            display: block;
            text-align: right;
            &:before {
                content: "\f040";
                font-family: FontAwesome;
                color: $theme-color;
                margin-right: 4px;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
}
.edit-model {
    .upload-image-sec {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
    }
    .upload-doc-wrap {
        .document-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .doc-sec {
            width: 767px;
            display: inline-block;
            vertical-align: middle;
            @include breakpoint(x-normal) {
                width: 500px;
            }
        }
        .doc-files {
            width: calc(100% - 771px);
            display: inline-block;
            padding-left: 57px;
            vertical-align: top;
            @media (max-width: 1700px) {
                padding-left: 25px;
            }
            @include breakpoint(x-normal) {
                width: calc(100% - 504px);
            }
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    list-style: none;
                    border: 2px dashed #e1e1e1;
                    padding: 10px;
                    min-height: 200px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}
.upload-document {
    border: 2px dashed #e1e1e1;
    margin-bottom: 30px;
    form {
        text-align: center;
        padding: 40px 20px;
        position: relative;
        figure {
            margin-bottom: 20px;
        }
    }
    input[type=text] {
        height: auto;
        text-align: center;
        font-size: 21px;
        color: #5b5b5b;
        padding: 0px;
        border: none;
    }
    input[type=file] {
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        cursor: pointer;
        z-index: 999;
    }
}
.upload-doc-wrap {
    ul {
        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
            button {
                line-height: 3.2em;
            }
        }
    }
}

/*----- Footer Section -----*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 40px;
    position: absolute;
    bottom: 0;
    left: 360px;
    right: 0px;
    @include breakpoint(x-normal) {
        left: 300px;
        padding: 0 30px;
    }
    span {
        color: #333333;
        font-size: 14px;
        a {
            color: #2ba2cc;
            &:hover {
                color: $black;
            }
        }
    }
}

/*----- Inbox Section -----*/

.inbox-wrap {
    margin-bottom: 52px;
    background: $color-white;
    .mCSB_scrollTools .mCSB_draggerRail {
        background: $theme-color;
    }
    .inbox-list {
        width: 430px;
        padding: 30px 12px 50px;
        background: #fbfbfb;
        display: inline-block;
        vertical-align: top;
        @include breakpoint(x-normal) {
            width: 350px;
        }
        ul {
            height: 900px;
            li {
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .chat-box-wrap {
        padding: 20px 30px;
        width: calc(100% - 434px);
        display: inline-block;
        vertical-align: top;
        @include breakpoint(x-normal) {
            width: calc(100% - 354px);
        }
        h5 {
            text-align: center;
        }
        .chat-box-sec {
            height: 700px;
            margin-bottom: 30px;
            .chat-list {
                padding-left: 70px;
                max-width: 700px;
                margin-bottom: 40px;
                float: left;
                position: relative;
                figure {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 50px;
                    width: 50px;
                    margin-bottom: 0px;
                    img {
                        border-radius: 100%;
                    }
                }
                &.user-chat {
                    float: right;
                    padding-left: 0px;
                    padding-right: 70px;
                    text-align: right;
                    p {
                        background: #eaf3fb;
                        &:after {
                            left: inherit;
                            right: 1%;
                            border-bottom-color: #eaf3fb;
                            margin-right: 10px;
                            margin-left: inherit;
                        }
                    }
                    figure {
                        left: inherit;
                        right: 0;
                    }
                }
                figure {
                    left: 0;
                }
                h6 {
                    margin-bottom: 15px;
                }
                p {
                    background: #f5f5f5;
                    padding: 10px;
                    border-radius: 3px;
                    color: $black;
                    position: relative;
                    &:after {
                        bottom: 100%;
                        left: 1%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-bottom-color: #f5f5f5;
                        border-width: 8px;
                        margin-left: 10px;
                    }
                }
            }
        }
        form {
            padding: 0 6.5%;
            @include breakpoint(x-normal) {
                padding: 0%;
            }
            button {
                text-transform: $text-capitalize;
                float: right;
                margin-top: 10px;
                display: block;
            }
        }
    }
    h5 {
        color: #151515;
        font-size: 25px;
        text-transform: $text-uppercase;
        margin-bottom: 30px;
        margin-left: 20px;
        @include breakpoint(x-normal) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    ul {
        li {
            list-style: none;
            position: relative;
            padding-left: 60px;
            margin-bottom: 20px;
            border-radius: 3px;
            transition: all 0.3s ease-in-out 0s;
            &:last-child {
                margin-bottom: 0px;
            }
            figure {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                height: 50px;
                width: 50px;
                margin-bottom: 0px;
                img {
                    border-radius: 100%;
                }
            }
            p {
                margin-bottom: 0px;
                color: #979797;
                line-height: normal;
            }
            h6 {
                color: #151515;
                margin-bottom: 3px;
            }
            a {
                display: block;
                padding: 10px;
            }
            &:hover,
            &.active {
                background: $theme-color;
                h6, p {
                    color: $color-white;
                }
            }
        }
    }
}