/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    position: relative;
    overflow-x: hidden;
    .footer-top {
        background: $color-grey;
        padding: 55px 0px;
        .footer-sec {
            display: inline-block;
            vertical-align: top;
            position: relative;
            &:after {
                content: "";
                height: 215px;
                width: 1px;
                display: inline-block;
                background: #d5d5d5;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            h4 {
                color: #2e2e2e;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                text-transform: $text-capitalize;
                margin-bottom: 25px;
                font-size: 22px;
            }
            &.column-1 {
                width: 32%;
                padding-right: 30px;
                .footer-content {
                    p {
                        @include breakpoint(x-normal) {
                           font-size: 14px;
                        }
                    }
                }
                .footer-logo {
                    margin-bottom: 40px;
                    a {
                        display: inline-block;
                        @include breakpoint(x-normal) {
                           max-width: 65%;
                        }
                    }
                }
            }
            &.column-2 {
                width: 27%;
                padding: 0 10px 0 40px;
                @include breakpoint(x-normal) {
                   padding: 0 10px 0 30px;
                    width: 25%;
                }
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        min-width: 49%;
                        margin-bottom: 10px;
                        a {
                            color: $black;
                            font-size: 16px;
                            font-family: $font-family;
                            font-weight: $font-weight-regular;
                            &:hover {
                                color: $theme-color;
                            }
                            @include breakpoint(x-normal) {
                               font-size: 14px;
                            }
                        }
                    }
                }
            }
            &.column-3 {
                width: 24%;
                padding: 0 40px;
                @include breakpoint(x-normal) {
                   padding: 0 20px 0 30px;
                }
                li {
                    list-style: none;
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 30px;
                    figure {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        margin-bottom: 0px;
                        fill: #a1a1a1;
                        height: 18px;
                        width: 18px;
                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }    
                    a, address {
                        font-size: 16px;
                        color: $black;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        margin-bottom: 0px;
                        @include breakpoint(x-normal) {
                           font-size: 14px;
                        }
                    }
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
            &.column-4 {
                width: 16%;
                padding-left: 30px;
                @include breakpoint(x-normal) {
                    padding-left: 20px;
                }
                .social-share {
                    ul {
                        li {
                            list-style: none;
                            display: inline-block;
                            margin-right: 5px;
                            height: 33px;
                            width: 33px;
                            background: $color-black;
                            position: relative;
                            border-radius: 100%;
                            transition: all 0.3s ease-in-out 0s;
                            @include breakpoint(x-normal) {
                                width: 27px;
                                height: 27px;
                                font-size: 14px;
                            }
                            a {
                                color: $color-white;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                                right: 0;
                                text-align: center;
                            }
                             &:hover {
                                background: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding: 20px 0px;
        background: #333333;
        text-align: center;
        span {
            color: #9f9f9f;
            font-size: 14px;
            display: inline-block;
            a {
                color: #2ba2cc;
                &:hover {
                    color: $color-white;
                }
            }
            &.powered-by {
                float: right;
            }
        }
    }
}