/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

header {
    background: $color-white;
}

.nav-top-sec {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        vertical-align: middle;
        &:first-child {
            margin-right: 15px;
        }
        input[type="search"] {
            width: 384px;
            height: 42px;
            padding: 0px 50px 0px 15px;
            background: #e7e7e7;
            border-color: #e7e7e7;
        }
        #searchform {
            .form-group {
                width: 280px;
                position: relative;
                margin-bottom: 0px;
                .form-control {
                    height: 24px;
                    padding: 0px 20px 0px 0px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    font-size: 14px;
                    font-weight: $font-weight-light;
                    box-shadow: none;
                    border-bottom: 1px solid #e7e7e7;
                    border-radius: 0px;
                    &:-webkit-input-placeholder { 
                        color:#666666;
                    }
                    &:-moz-placeholder { 
                        color:#666666;
                    }
                    &:-ms-input-placeholder { 
                        color:#666666;
                    }
                }
                #searchsubmitbtn {
                    position: absolute;
                    right: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: FontAwesome;
                    background: none;
                    min-width: auto;
                    border: none;
                    font-size: 17px;
                    color: #cfcece;
                    transition: all 0.3s ease-in-out 0s;
                    padding: 0px;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
        a {
            display: inline-block;
            vertical-align: middle;
        }
        svg {
            height: 14px;
            width: 14px;
            fill: $color-white;   
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
        }
    }
}

.navbar {
    background: transparent;
    border: none;
    min-height: 1px;
    margin: 0;
    border-radius: 0px;
    padding: 10px 0 0;
    .navbar-nav {
        > li {
            margin: 0 25px;
            @include breakpoint(x-normal) {
               margin: 0 15px;
            }
            &:last-child {
                margin-right: 10px;
            }
            > a {
                color: $black;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                font-size: 16px;
                letter-spacing: 0.03em;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
                display: inline-block;
                line-height: 4em;
                position: relative;
                padding: 0;
                text-transform: $text-capitalize;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $theme-color;
                    transform: scaleX(0);
                    display: block;
                    transform-origin: 50% 50%;
                    transition: -webkit-transform 0.2s ease-out;
                    transition: transform 0.2s ease-out;
                    will-change: transform;
                }
            }
            &.add_to_cart {
                a {
                    display: inline-block;
                    position: relative;
                    margin-top: 5px;
                    svg {
                        height: 20px;
                        width: 20px;
                        fill: $black;
                        transition: all 0.5s ease-in-out 0s;
                    }
                    &:hover,
                    &:focus {
                        svg {
                            fill: $theme-color;
                        }
                    }
                    .noti-count {
                        position: absolute;
                        top: 6px;
                        right: -8px;
                        height: 18px;
                        width: 18px;
                        background: $color-black;
                        color: #ffffff;
                        text-align: center;
                        border-radius: 100%;
                        sup {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            right: 0;
                            text-align: center;
                            margin: 0 auto;
                            bottom: inherit;
                            font-size: 14px;
                            line-height: normal;
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .nav-link {
            padding: 0px !important;
        }
    }
    .navbar-collapse {
        flex-direction: column;
        padding: 0;
    }
    .navbar-brand {
        padding: 0;
        height: auto;
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar .navbar-nav > li.current-menu-item > a, 
.navbar .navbar-nav > li.current-menu-parent > a,
.navbar .navbar-nav >li >a:focus,
.navbar .navbar-nav >li >a:hover {
    color: $theme-color;
    transition: all 0.5s ease-in-out 0s;
}

.navbar .navbar-nav > li.current-menu-item > a::after, 
.navbar .navbar-nav > li.current-menu-parent > a:after,
.navbar .navbar-nav >li >a:hover:after {
    transform: scaleX(1);
}

.navbar .navbar-nav >li:last-child >a:hover:after,
.navbar .navbar-nav >li:last-child >a:after {
    display: none;
}

/*----- Sticky Header -----*/

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    background: $color-white;
    .nav-top-sec {
        display: none;
    }
    .navbar {
        padding: 10px 0px;
    }
    .navbar-brand {
        width: 65%;
    }
}