/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

.relative {
    position: relative;
}

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.order {
    order: 1;
}

.section {
    padding: 50px 0px;
    @include breakpoint(x-normal) {
        padding: 30px 0px;
    }
    h4 {
        text-transform: $text-capitalize;
        letter-spacing: 0.01em;
        position: relative;
        text-align: center;
        margin-bottom: 60px;
        @include breakpoint(x-normal) {
            margin-bottom: 40px;
        }
        color: $black;
        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 2px;
            background: $black;
            text-align: center;
            margin: 10px auto 0px;
        }
    }
}

.pad-tb-5 {
    padding: 50px 0px;
}

.pad-tb-7 {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
       padding: 50px 0px;
    }
}

.relative {
    position: relative;
}

/*----- Button Css -----*/

.theme-btn,
.black-btn {
    font-size: 14px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    border-radius: 50px;
    line-height: 2.6;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    @include breakpoint(x-normal) {
        font-size: 12px;
    }
}


.theme-btn {
    color: $color-white;
    background: $theme-color;
    border: 1px solid $theme-color;
    &:hover {
        background: $color-black;
        border-color: $color-black;
        color: $color-white;
    }
}

.black-btn {
    color: $color-white;
    background: $color-black;
    border: 1px solid $color-black;
    &:hover {
        background: $theme-color;
        border-color: $theme-color;
        color: $color-white;
    }
}

/*----- Slick Dots -----*/

.slick-dots {
    margin: 28px auto 0;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
        button {
            border-radius: 100%;
            background: $color-white;
            border: 1px solid $theme-color;
            height: 10px;
            min-width: 10px;
            margin: 0 5px;
            padding: 0;
            text-indent: -999999px;
            vertical-align: middle;
        }
        &.slick-active {
            button {
                background: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}

/*-------------------------------------------------------------------
- MAIN SECTIONS
-------------------------------------------------------------------*/

.grid_item {
    .content {
        background: $color-white;
        padding: 25px 20px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
        h5 {
            a {
                color: $black;
                @include breakpoint(x-normal) {
                    font-size: 16px;
                }
                &:hover {
                    color: $theme-color;
                }
            }
        }
        p {
            margin-bottom: 20px;
        }
        cite {
            font-size: 18px;
            color: #333333;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            font-style: normal;
            @include breakpoint(x-normal) {
                font-size: 15px;
            }
        }
    }
}

/*----- Software Package -----*/

.software_package_wrap {
    &.section {
        h4 {
            margin-bottom: 35px;
            @include breakpoint(x-normal) {
                margin-bottom: 20px;
            }
        }
    }
    .grid_item {
        text-align: center;
        margin-top: 12px;
        .icon-sec {
            height: 94px;
            width: 94px;
            border-radius: 100%;
            margin: 0 auto 20px;
            border: 2px solid $black;
            transiton: all 0.7s ease-in-out 0s;
            @include breakpoint(x-normal) {
                height: 84px;
                width: 84px;
            }
            .icon {
                background: $theme-color;
                border: 8px solid $color-white;
                position: relative;
                height: 90px;
                width: 90px;
                border-radius: 100%;
                transition: all 0.3s ease-in-out 0s;
                @include breakpoint(x-normal) {
                    height: 80px;
                    width: 80px;
                }
                svg {
                    height: 35px;
                    width: 35px;
                    fill: $color-white;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
                &:hover {
                    box-shadow: 0 0 1px 10px rgba(236, 85, 32, 0.3);
                }
            }
        }
        h5 {
            font-size: 18px;
            font-weight: $font-weight-medium;
            color: $black;
            text-transform: $text-uppercase;
        }
    }
}

/*----- Find Model -----*/

.find_model {
    padding: 30px 0px;
    @include background(center, cover);
    @include breakpoint(x-normal) {
        padding: 20px 0px;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18%;
        @include breakpoint(x-normal) {
           padding: 0 15%;
        }
    }
    h3 {
        color: $color-white;
        margin-bottom: 0px;
        @include breakpoint(x-normal) {
           font-size: 24px;
        }
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-group {
            width: 143px;
            margin-bottom: 0px;
            select {
                border-radius: 3px 0 0 3px;
                box-shadow: none;
                border-color: $color-white;
                height: 50px;
                padding: 10px 40px 10px 15px;
                border-right: 1px solid #e5e5e5;
                @include breakpoint(x-normal) {
                    height: 42px;
                }
            }
            &.relative {
                width: calc(100% - 143px);
                input[type="search"] {
                    border-color: $color-white;
                    border-radius: 0 3px 3px 0;
                    box-shadow: none;
                    height: 50px;
                    padding: 10px 85px 10px 20px;
                    @include breakpoint(x-normal) {
                        height: 42px;
                    }
                }
                #searchsubmit {
                    background: $color-black;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    font-family: FontAwesome;
                    border: 1px solid $color-black;
                    font-size: 20px;
                    color: $color-white;
                    transition: all 0.3s ease-in-out 0s;
                    min-width: 73px;
                    padding: 0px;
                    border-radius: 0 3px 3px 0;
                    @include breakpoint(x-normal) {
                       font-size: 15px;
                    }
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

/*----- Most popular Post -----*/

.most_popular_files {
    background: $color-light-grey;
}

/*----- Featured Product -------*/

.featured_product {
   .grid_item {
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transform: translateY(-6px);
        }
        figure {
            @include background(center, cover);
            height: 309px;
            margin-bottom: 0px;
            position: relative;
            transition: all 0.5s ease-in-out 0s;
            @include breakpoint(x-normal) {
                height: 270px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.75);
                opacity: 0;
                transition: all 0.5s ease-in-out 0s;
            }
            .cart_btn {
                position: absolute;
                top: 50%;
                transform: translateY(100%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                margin: 0 auto;
                opacity: 0;
                transition: all 0.5s ease-in-out 0s;
                a.theme-btn {
                    text-transform: $text-uppercase;
                }
            }
        }
       .content {
           text-align: center;
           padding: 16px 10px;
           h5 {
               margin-bottom: 3px;
           }
           ul {
               li {
                   list-style: none;
                   display: inline-block;
                   a {
                       color: $theme-color;
                   }
               }
           }
       }
       &:hover {
           figure {
               &:before {
                   opacity: 1;
               }
           }
           .cart_btn {
               opacity: 1;
               transform: translateY(-50%);
           }
       }
    }
}

/*----- Latest Blog -----*/

.latest_blog_wrap {
    background: $color-light-grey;
    .grid_item {
        figure {
            @include background(center, cover);
            height: 289px;
            margin-bottom: 0px;
            @include breakpoint(x-normal) {
                height: 230px;
            }
        }
        .content {
           h6 {
               margin-bottom: 10px;
               a {
                   color: $black;
                   &:hover {
                       color: $theme-color;
                   }
               }
           }
            p {
                font-weight: $font-weight-light;
            }
        }
    }
}

/*----- Faq Section -----*/

.faq-tab-wrap {
    .card{
        border: 1px solid #c7c7c7;
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0px;
        }
        .card-header {
            padding: 0px;
            border: none;
            background: transparent;
            h6 {
                margin-bottom: 0px;
            }
            .card-link {
                color: $color-black;
                display: block;
                padding: 20px 60px 20px 25px;
                background: $color-white;
                position: relative;
                color: $black;
                border-radius: 3px;
                &:hover {
                    color: $theme-color;
                }
                span {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $theme-color;
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                    margin-bottom: 0px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    &:before {
                        content: "\f068";
                        font-family: FontAwesome;
                        color: $color-white;
                        font-style: normal;
                        font-size: 15px;
                    }
                }
                &.collapsed {
                    i {
                        &:before {
                            content: "\f067";
                            
                        }
                    }
                }
            }
        }
        .panel-body {
            padding: 0px 25px 20px;
            p {
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/*----- Contact Us -----*/

.contactus-wrapper {
    h4 {
        text-align: left;
        &:after {
            background: $theme-color;
            margin: 10px 0 0;
        }
    }
    form {
        button {
            margin-top: 25px;
        }
    }
    .map-wrap {
        height: 265px;
        iframe {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .contact-info {
        margin-bottom: 40px;
        ul {
            li {
                list-style: none;
                position: relative;
                margin-bottom: 15px;
                .icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    svg {
                        height: 15px;
                        width: 15px;
                        fill: $theme-color;
                    }
                }
                address, a {
                    margin-bottom: 0px;
                    padding-left: 25px;
                    font-size: 16px;
                    color: $black;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                }
                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            } 
        }
    }
}

/*----- Blog Grid Section -----*/

.blog-grid-sec {
    border-bottom: 1px solid #e1e1e1;
    padding-right: 35px;
    article {
        margin-bottom: 50px;
        @include breakpoint(x-normal) {
            margin-bottom: 35px;
        }
    }
    .grid-item {
        figure {
            margin-bottom: 30px;
            @include breakpoint(x-normal) {
                margin-bottom: 20px;
            }
            a {
                display: inline-block;
                height: 432px;
                width: 100%;
                @include background(center, cover);
                @include breakpoint(x-normal) {
                    height: 332px;
                }
            }
        }
        .content-sec {
            h5 {
                margin-bottom: 20px;
                @include breakpoint(x-normal) {
                    margin-bottom: 10px;
                }
                a {
                    color: $color-black;
                    font-weight: $font-weight-medium;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            .meta-info {
                margin-bottom: 20px;
                @include breakpoint(x-normal) {
                    margin-bottom: 10px;
                }
                ul {
                    display: inline-block;
                    vertical-align: middle;
                    li {
                        display: inline-block;
                        list-style: none;
                        font-size: 14px;
                        color: #8c8c8c;
                        text-transform: $text-capitalize;
                        vertical-align: middle;
                        font-weight: $font-weight-light;
                        &:before {
                            content: "";
                            height: 13px;
                            width: 1px;
                            background: #8c8c8c;
                            display: inline-block;
                            margin: -3px 4px 0 2px;
                            vertical-align: middle;
                            transform: rotate(19deg);
                        }
                        &:first-child {
                            &:before {
                                display: none;
                            }
                        }
                        a {
                           color: #979aa1;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Blog Single -----*/

.blog-single-wrap {
    .blog-grid-sec {
        .grid-item {
            figure {
                height: 320px;
                width: 100%;
                @include background(center, cover);
            }
            .content-sec {
                h5 {
                    font-weight: $font-weight-medium;
                    color: $theme-color;
                }
            }
        }
        border-bottom: none;
    }
}

/*----- Comments -----*/

.comment-section {
    margin-bottom: 50px;
    h5 {
        color: $color-black;
        font-weight: $font-weight-medium;
        border-bottom: 1px solid $border-color;
        padding-bottom: 40px;
    }
    ul {
        li {
            list-style: none;
            position: relative;
            figure {
                position: absolute;
                left: 0;
                height: 70px;
                width: 70px;
                margin-bottom: 0px;
                background-size: cover;
                background-position: center;
                border-radius: 100%;
            }
            &.comment-list {
                border-bottom: 1px solid $border-color;
                padding: 20px 0;
            }
            .content-sec {
                padding-left: 90px;
                h6 {
                    color: #474a5d;
                    font-weight: $font-weight-regular;
                }
                p {
                    font-size: 14px;
                    color: $black;
                    line-height: 1.6;
                    margin-bottom: 5px;
                }
                cite {
                    font-style: normal;
                    font-size: 14px;
                    color: #a3a3a3;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    display: block;
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        display: inline-block;a {
                            color: #ee5250;
                        }
                    }
                }
            }
        }
    }
}

/*----- Leave Comment Secion -----*/

.leave-comment-sec{
    h5 {
        color: $color-black;
        font-weight: $font-weight-medium;
        margin-bottom: 35px;
    }
    cite {
        font-size: 14px;
        font-style: normal;
        color: #606060;
        font-family: $font-family;
        font-weight: $font-weight-regular;
        display: block;
        margin-bottom: 15px;
    }
    form {
        width: 80%;
    }
    textarea {
        height: 160px;
    }
    button {
        min-width: 180px;
        font-size: 16px;
        text-transform: $text-capitalize;
        margin-top: 30px;
    }
}

/*---------- Sidebar ----------*/

.sidebar {
    .widget {
        margin-bottom: 2.5em;
        ul {
            list-style: none;
        }
        .widget-title {
            text-transform: $text-capitalize;
            font-family: $font-family;
            color: $black;
            font-weight: $font-weight-medium;
            margin-bottom: 30px;
        }
        &.widget_categories,
        &.widget_archives {
            .cat-item {
                margin-bottom: 15px;
                a {
                    display: block;
                    text-transform: capitalize;
                    letter-spacing: 0px;
                    font-size: 14px;
                    color: $black;
                    &:hover {
                        color: $theme-color;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
    .widget_search {
        .widget-title {
            margin-bottom: 20px;
        }
        #s {
            border-color: #e1e1e1;
            border-radius: 3px;
            box-shadow: none;
            height: 52px;
            margin-bottom: 0;
            padding: 10px 50px 10px 15px;
            @include breakpoint(x-normal) {
                height: 45px;
            }
        }
        #searchsubmit {
            position: absolute;
            right: 18px;
            top: 0;
            bottom: 0;
            font-family: FontAwesome;
            background: none;
            border: none;
            font-size: 16px;
            color: $black;
            transition: all 0.3s ease-in-out 0s;
            min-width: auto;
            height: 42px;
            padding: 0px;
            &:hover {
                color: $theme-color;
            }
        }
        form {
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .form-control::-moz-placeholder {
        color:#c2c1c1;
        font-size: 14px;
        font-weight: $font-weight-regular;
    }
    .widget_popularpost {
        .recent-post-grid {
            position: relative;
            margin-bottom: 22px;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0px;
                padding-bottom: 0px;
                height: auto;
            }
            figure {
                margin-bottom: 0px;
            }
            .featured-thumb {
                width: 72px;
                @include background(center center, cover);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 3px;
            }
            .content-sec {
                padding-left: 90px;
                .meta-info {
                    margin-bottom: 0px;
                    span {
                        font-size: 12px;
                        font-family: $font-opensans;
                        color: #979aa1;
                        font-weight: $font-weight-semibold;
                    }
                }
                h6 {
                    margin-bottom: 0px;
                    a {
                        color: $black;
                        font-size: 14px;
                        font-weight: $font-weight-regular;
                        line-height: 1.5;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

/*----- Pagination Section -----*/

.pagination-wrap {
    margin-top: 25px;
    ul {
        li {
            display: inline-block;
            list-style: none;
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                border: 2px solid $black;
                border-radius: 3px;
                height: 35px;
                width: 35px;
                line-height: 2em;
                display: inline-block;
                text-align: center;
                color: $color-black;
            }
            &.active,
            &:hover {
                a {
                    border-color: $theme-color;
                    color: $theme-color;
                }
            }
        }
    }
}

/*----- Breadcrumbs -----*/

.navbar-breadcurmbs-block {
    margin-bottom: 30px;
    .brreadcrumbs-inner {
        ul {
            li {
                display: inline-block;
                vertical-align: top;
                position: relative;
                border: 1px solid #cccccc;
                font-size: 14px;
                font-weight: normal;
                color: #959594;
                text-transform: $text-capitalize;
                letter-spacing: 0.044em;
                padding: 2px 18px 2px 30px;
                margin-right: 12px;
                text-align: center;
                transition: all ease-in-out 0.5s; 
                border-right: none;
                a {
                    color: #575757;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                    width: 100%;
                    display: inline-block;
                    line-height: 1;
                    vertical-align: middle;
                    &.active {
                        color: $theme-color;
                    }
                }
                &.home {
                    padding: 0px 0px 0px 10px;
                    border-top: none;
                    border-bottom: none;
                    font-size: 18px;
                    &:after {
                        display: none;
                    }
                }
                &:after,
                &:before {
                     content: '';
                      position: absolute;
                      top: 2.5px;
                      bottom: 0;
                      width: 19px;
                      height: 20px;
                      border-width: 1px;
                      border-style: solid;
                      border-color: transparent;
                      border-top-color: #cccccc;
                      border-right-color: #cccccc;
                      transform: rotate(45deg);
                      background-color: #fff;
                      transition: all ease-in-out 0.5s; 
                }
                &:after {
                    right: -8px;
                    z-index: 9; 
                }
                &:before {
                    left: -11px; 
                }
                &:first-child {
                    &:before {
                        display: none; 
                    }
                }
                &:hover {
                    color: $theme-color;
                    a {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

/*----- Request Section -----*/

.request-section-wrap {
    padding: 40px 0px;
    .request-section-element {
        .content-sec {
            .title-section {
                margin-bottom: 25px;
                .title {
                    color: $black;
                    font-weight: $font-weight-medium; 
                }
                .top-content {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #e6e6e6;
                    .content {
                        width: 82%;
                        margin-right: 15px;
                        p {
                            color: #666666;
                        }
                    }
                    .button-sec {
                        width: 13%;
                        .icon-btn {
                            display: inline-block;
                            background: $theme-color;
                            color: $color-white;
                            padding: 0px 10px;
                            float: right;
                            border: 1px solid $theme-color;
                            &:hover {
                                background: $color-white;
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
        .sidebar-sec {
            .sec {
                margin-bottom: 1.8em;
                ul {
                    list-style: none;
                }
                .title {
                    text-transform: $text-capitalize;
                    font-family: $font-family;
                    color: $black;
                    font-weight: $font-weight-medium;
                    margin-bottom: 15px;
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 15px;
                }
            }
            .search {
                #s {
                    border-color: #e1e1e1;
                    border-radius: 0px;
                    box-shadow: none;
                    height: 33px;
                    margin-bottom: 0;
                    padding: 10px 50px 10px 10px;
                }
                #searchsubmit {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    font-family: FontAwesome;
                    background: none;
                    border-radius: 0px;
                    font-size: 20px;
                    color: $color-white;
                    transition: all 0.3s ease-in-out 0s;
                    height: 33px;
                    line-height: 1.5em;
                    padding: 0px;
                    background: $theme-color;
                    min-width: 65px;
                    &:hover {
                        background: $color-black;
                    }
                }
                form {
                    .form-group {
                        margin-bottom: 0;
                    }
                }
            }
            .form-control::-moz-placeholder {
                color:#c2c1c1;
                font-size: 14px;
                font-weight: $font-weight-regular;
            }
            .popularpost,
            .recentpost {
                .recent-post-grid {
                    position: relative;
                    margin-bottom: 25px;
                    figure {
                        margin-bottom: 0px;
                    }
                    .featured-thumb {
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        @include background(center center, cover);
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .content-sec {
                        padding-left: 80px;
                        .meta-info {
                            margin-bottom: 0px;
                            span {
                                font-size: 12px;
                                font-family: $font-family;
                                color: #8c8c8c;
                                font-weight: $font-weight-regular;
                                cite {
                                    font-style: normal;
                                    color: #007eff;
                                }
                            }
                        }
                        h6 {
                            margin-bottom: 0px;
                            a {
                                color: $black;
                                font-size: 14px;
                                font-weight: $font-weight-regular;
                                line-height: 1.5;
                                &:hover {
                                    color: $theme-color;
                                }
                                @include breakpoint(x-normal) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Library Section -----*/

.sorting-wrap {
    margin-bottom: 25px;
    position: relative;
    height: 25px;
    .sort-sec {
        width: 220px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        label {
            display: inline-block;
            width: 28%;
        }
        select {
            display: inline-block;
            width: 70%;
            border: 1px solid #aaaaaa;
            border-radius: 0px;
            padding: 0px 3px;
            height: 25px;
            background-position: 96% center;
            font-size: 13px;
            font-weight: $font-weight-light;
        }
    }
}

.library-content-wrap {
    .find_model {
        padding: 0px;
        margin-bottom: 40px;
        padding-bottom: 50px;
        border-bottom: 1px solid $border-color;
        @include breakpoint(x-normal) {
            margin-bottom: 25px;
            padding-bottom: 35px;
        }
        h3 {
            color: $theme-color;
        }
        form {
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            .form-group{
                &.relative {
                    #searchsubmit {
                        background: $theme-color;
                        border-color: $theme-color;
                        &:hover {
                            background: $color-black;
                            border-color: $color-black;
                        }
                    }
                }
                select,
                input[type="search"] {
                    background-color: #fbfbfb;
                }
            }
        }
    }
    .model-info-wrap {
        .model-sidebar {
            width: 210px;
            display: inline-block;
            margin-right: 30px;
            vertical-align: top;
            .info-wrap {
                border: 1px solid $border-color;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
                .title {
                    background: $theme-color;
                    padding: 8px;
                    h6 {
                        margin-bottom: 0px;
                        color: $color-white;
                        letter-spacing: 0.05em;
                        font-size: 14px;
                    }
                }
                &.tags {
                    li {
                        position: relative;
                        color: #666666;
                        font-size: 14px;
                        padding-left: 20px;
                        img {
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }
                }
            }
            .list {
                padding: 10px;
                li {
                    display: block;
                    list-style: none;
                    margin-bottom: 5px;
                    text-transform: inherit;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    label {
                        margin-bottom: 0px; 
                        text-transform: inherit;
                    }
                    .rating-star {
                        display: inline-block;
                        vertical-align: middle;
                        li {
                            display: inline-block;
                            color: $theme-color;
                            margin-bottom: 0px;
                        }
                    }
                    &.checkbox-wrap {
                        position: relative;
                        margin-bottom: 0px;
                        input[type=checkbox] {
                            -webkit-appearance: none;
                            display: none;
                        }
                        span.new-checkbox {
                            background: #fff;
                            border: solid 2px #6c6c6c;
                            width: 16px;
                            height: 16px;
                            vertical-align: middle;
                            margin-right: 5px;
                            border: solid 1px rgba(37, 53, 71, 0.3);
                            cursor: pointer;
                            display: inline-block;
                            margin-left: 0px;
                            top: -1px;
                            position: relative;
                        }
                        label {
                            cursor: pointer;
                            line-height: 20px;
                            display: inline-block;
                            font-family: $font-family;
                            vertical-align: middle;
                            font-size: 14px;
                            font-weight: $font-weight-light;
                            color: #666666;
                            .new-checkbox {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                                position: inherit;
                                margin-top: -3px;
                            }
                        }
                        input[type=checkbox]:checked + span.new-checkbox {
                            background: $theme-color;
                            position: relative;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            border-color: $theme-color;
                        }
                        input[type=checkbox]:checked + span.new-checkbox:after {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 5px;
                            background: transparent;
                            top: 24%;
                            left: 2px;
                            right: 0;
                            text-align: center;
                            border: 2px solid #ffffff;
                            border-top: none;
                            border-right: none;
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                    a {
                        display: block;
                        span {
                            font-size: 14px;
                            color: #666666;
                            font-weight: $font-weight-light;
                            display: inline-block;
                            &:first-child {
                                width: 78%;
                            }
                            &:nth-child(2) {
                                width: 18%;
                            }
                        }
                        &:hover {
                            span {
                                color: $theme-color;
                            }
                        }
                    }
                }
                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked + label,
                [type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 25px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    font-family: $font-family;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: $font-weight-light;
                    color: #666666;
                }
                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 14px;
                    height: 14px;
                    border: 1px solid $theme-color;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: $theme-color;
                    position: absolute;
                    top: 6px;
                    left: 3px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
        .model-content {
            width: calc(100% - 245px);
            display: inline-block;
            vertical-align: top;
            .grid-item {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 20px;
                margin-bottom: 30px;
                .figure-sec {
                    width: 17.6%;
                    margin-right: 25px;
                    figure {
                        height: auto;
                        @include background(center, cover);   
                        padding-bottom: 93%;
                        transition: all 0.3s ease-in-out;
                        border: 1px solid #dfdfdf;
                    }
                    cite {
                        font-size: 14px;
                        color: $black;
                        font-weight: $font-weight-light;
                        text-align: center;
                        display: block;
                        @include breakpoint(x-normal) {
                            font-size: 12px;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }
                .content-sec {
                    width: 57%;
                    margin-right: 30px;
                    .title {
                        display: flex;
                        h5 {
                            a {
                                color: $black;
                                font-weight: $font-weight-medium;
                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }
                        .meta-info {
                            span {
                                font-size: 14px;
                                font-family: $font-family;
                                font-weight: $font-weight-medium;
                                color: #979797;
                                text-transform: lowercase;
                                margin-left: 10px;
                                cite {
                                    color: #0071fd;
                                }
                            }
                        }
                    }
                    cite {
                        color: #999999;
                        font-size: 14px;

                    }
                }
                .price-wrap {
                    width: 19%;
                    padding-top: 40px;
                    .star-rating{
                        margin-bottom: 5px;
                        li {
                            list-style: none;
                            display: inline-block;
                            a {
                                color: $theme-color;
                            }
                        }
                    }
                    h6 {
                        font-size: 15px;
                        color: #666666;
                    }
                    .price-detail {
                        li {
                            list-style: none;
                            display: flex;
                            margin-bottom: 6px;
                            span {
                                font-size: 14px;
                                color: #666666;
                                width: 49%;
                                &:first-child {
                                    margin-right: 10px;
                                }
                                @include breakpoint(x-normal) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Library Single Page -----*/

.library-single-content-wrap {
    .library-left-sec {
        .left-content {
            position: relative;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 30px;
            margin-bottom: 30px;
            figure {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin-bottom: 0px;
            }
            .content {
                text-align: left;
                padding-left: 150px;
                padding-top: 20px;
            }
            h4 {
                margin-bottom: 2px;
                position: inherit;
                text-align: left;
                &:after {
                    display: none;
                }
            }
            span {
                font-weight: $font-weight-regular;
                font-size: 14px;
                color: $black;
                a {
                    display: inline-block;
                    color: #049bfb;
                    transition: all 0.3s ease-in-out 0s;
                    &:after {
                        content: "";
                        height: 1px;
                        width: 100%;
                        background: #049bfb;
                        display: block;
                        position: relative;
                        bottom: 2px;
                        transition: all 0.3s ease-in-out 0s;
                    }
                    &:hover {
                        color: $theme-color;
                        &:after { 
                            background: $theme-color;
                        }
                    }
                }
            }
            .download-btn {
                margin-top: 20px;
                i {
                    margin-right: 5px;
                }
            }
            .rating-wrap {
                ul {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                    li {
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        a {
                            color: $theme-color;
                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
        .tab-sec {
            margin-bottom: 40px;
            ul {
                border-bottom: none;
                li {
                    a {
                        padding: 5px 15px 8px;
                        background: #fff;
                        display: block;
                        border: 1px solid transparent;
                        border-bottom-color: #dddddd;
                        font-family: $font-family;
                        font-weight: $font-weight-medium;
                        color: $black;
                        font-size: 18px;
                        text-transform: $text-uppercase;
                        margin-bottom: -1px;
                        @include breakpoint(x-normal) {
                            font-size: 15px;
                        }
                        &.active,
                        &:hover {
                            border-color: #dddddd;
                            color: $theme-color;
                            border-bottom-color: $color-white;
                        }
                    }
                }
            }
            .tab-content {
                border: 1px solid #dddddd;
                padding: 20px;
                .row {
                    margin-bottom: 15px;
                }
                p {
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    a {
                        color: $theme-color;
                        &:hover {
                            color: $black;
                        }
                    }
                }
                h6 {
                    font-weight: $font-weight-medium;
                    color: $black;
                }
                figure {
                    margin-bottom: 10px;
                }
                cite {
                    font-size: 14px;
                    color: $black;
                    text-align: center;
                    display: block;
                }
                #technical {
                    ul {
                        li {
                            list-style: none;
                            margin-bottom: 12px;
                            span {
                                font-size: 15px;
                                color: $black;
                                font-weight: $font-weight-medium;
                                display: inline-block;
                                vertical-align: top;
                                @include breakpoint(x-normal) {
                                    font-size: 14px;
                                }
                                &:first-child {
                                    width: 20%;
                                    margin-right: 10px;
                                }
                                &:nth-child(2) {
                                    width: 78%;
                                    color: #666666;
                                    font-weight: $font-weight-light;
                                }
                            }
                            &:last-child {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-sec {
        .sidebar-content {
            margin-bottom: 20px;
            figure {
                margin-bottom: 0px;
            }
            h6 {
                font-weight: $font-weight-medium;
                color: $black;
            }
            ul {
                li {
                    list-style: none;
                    font-size: 14px;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    color: $black;
                    margin-bottom: 8px;
                }
            }
        }
    }
}

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 500px;
        width: 90%;
        background: #fff;
    }
    .popup-inner-elem {
        position: relative;
        padding: 25px 40px;
        h3 {
            font-size: 18px;
            color: #151515;
            font-weight: $font-weight-semibold;
            text-transform: $text-uppercase;
            letter-spacing: 0.02em;
            text-align: left;
            margin-bottom: 25px;
        }
        p {
            color: #a1a1a1;
            text-align: left;
        }
        .listing-wrap {
            text-align: left;
            margin: 0 auto 20px;
            li {
                font-size: 18px;
                color: #151515;
                font-weight: $font-weight-semibold;
                text-transform: $text-uppercase;
                letter-spacing: 0.02em;
                a {
                    color:  #979aa1;
                    font-size: 18px;
                    font-family: $font-family;
                    font-weight: $font-weight-semibold;
                    text-transform: $text-uppercase;
                    letter-spacing: 0.02em;
                }
                list-style: none;
                &:first-child {
                    &:after {
                        content: "";
                        height: 15px;
                        width: 2px;
                        background: #979aa1;
                        display: inline-block;
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
                &.active {
                    &:after {
                        content: "";
                        display: block;
                        height: 2px;
                        width: 100%;
                        background: $theme-color;
                        margin-left: 0;
                        margin-top: 5px;
                    }
                }
                &.active,
                &:hover {
                    a {
                        color: #151515;
                        display: inline-block;
                        transition: all 0.3s ease-in-out 0s;
                        &:after {
                            content: "";
                            display: block;
                            height: 2px;
                            width: 100%;
                            background: $theme-color;
                            margin-left: 0;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        .popup-close {
            position: absolute;
            right: -12px;
            top: -12px;
            padding: 0;
            min-width: auto;
            background: #d2d2d2;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 1;
            z-index: 99;
            i {
                font-size: 20px;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                color: $black;
            }
            &:hover {
                background: $black;
                transform: rotate(180deg);
                i {
                    color: $color-white;
                }
            }
        }
        form {
            .form-control {
                border-radius: 0px;
                box-shadow: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #c7c7c7;
                padding: 0px;
                &:focus {
                    border-top-color: none;
                    border-left-color: none;
                    border-right-color: none;
                    border-bottom-color: $color-black;
                }
            }
            textarea {
                height: 150px;
            }
            .form-group {
                position: relative;
                margin-bottom: 1.5rem;
            }
            .form-control + label {
                position: absolute;
                left: 0;
                top: 1.15em;
                transition: transform 200ms ease;
                pointer-events: none;
                color: #151515;
                font-size: 14px;
                text-transform: inherit;
                font-weight: 500;
            }
            .form-control:focus + label,
            .form-control + label.freeze {
                transform: translateY(-3em);
                top: 2.20em;
            }
            .button-sec {
                padding-top: 22px;
                margin-bottom: 15px;
                button {
                    min-width: 160px;
                    line-height: 2.5em;
                    font-size: 18px;
                     display: block;
                     text-transform: $text-capitalize;
                     margin-left: inherit;
                     margin-right: inherit;
                }
            }
            .form-check {
                text-align: left;
                margin-left: 20px;
                margin-top: -12px;
                label {
                    color: #646874;
                    font-size: 14px;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                }
                input {
                    margin-top: 3px;
                }
            }
        }
        .forgot-password {
            display: block;
            text-align: right;
            margin-top: -10px;
            a {
                font-size: 14px;
                color: #a1a1a1; 
                letter-spacing: 0.01em;
                border-bottom: 2px solid #a1a1a1;
                display: inline-block;
                &:hover {
                    color: $theme-color;
                    border-color: $theme-color;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }
}
.signup {
    .listing-wrap {
        li {
            &:last-child {
                &:before {
                    content: "";
                    height: 15px;
                    width: 2px;
                    background: #979aa1;
                    display: inline-block;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}

/*----- Thankyou Page -----*/

.thankyou-page-wrap {
    padding: 120px 0px;
    @include background(center, cover);
    background-attachment: fixed;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.65);
    }
    text-align: center;
    .thankyou-page-content {
        position: relative;
        z-index: 99;
        h1 {
            display: inline-block;
            border: 5px solid $color-white;
            border-radius: 100%;
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto 30px;
            i {
                color: $color-white;
            }
        }
        p {
            color: $color-white;
            font-size: 70px;
            letter-spacing: 0.1em;
        }
    }
}