/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css');

body,
html {
    font-family: $font-family;
    position: relative;
    height: 100%;
    font-size: em($value);
}

body {
    background: #ffffff;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 1.1;
}

address {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.center-block {
    float: none;
}

/*---------- Heading ----------*/

h1 {
    font-size: 60px;
    text-transform: $text-capitalize;
}

h2, h2 a {
    font-size: 43px;
    text-transform: $text-capitalize;
}

h3, h3 a {
    font-size: 32px;
    letter-spacing: 0.01em;
    line-height: 1.1;
}

h4, h4 a {
    font-size: 28px;
    @include breakpoint(x-normal) {
        font-size: 22px;
    }
}

h5, h5 a {
    font-size: 20px;
    @include breakpoint(x-normal) {
        font-size: 17px;
    }
}

h6, h6 a {
    font-size: 18px;
    @include breakpoint(x-normal) {
        font-size: 16px;
    }
}

p {
    font-size: 15px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: 1.8;
    color: $black;
    @include breakpoint(x-normal) {
        font-size: 14px;
    }
}

cite {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-style: normal;
}

span {
    font-family: $font-family;
    font-size: em(16);
    font-weight: $font-weight-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    white-space: normal;
    word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
}

/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    transition: all 0.5s ease-in-out 0s;
    text-transform: $text-uppercase;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    line-height: 2.5em;
    color: $color-white;
    background: $theme-color;
    border: 1px solid $theme-color;
    transition: background-position 0.5s;
    border-radius: 50px;
    min-width: 125px;
    padding: 0 20px;
    @include breakpoint(x-normal) {
        font-size: 16px;
    }
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: none;
    background: $color-black;
    border-color: $color-black;
    color: $color-white;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    appearance: checkbox !important;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="file"],
.form-control {
    padding: 2px 20px;
    width: 100%;
    border-radius: 5px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $font-family;
    font-weight: $font-weight-light;
    color: #000000;
    font-size: 17px;
    background: $color-white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border: 1px solid transparent;
    @include breakpoint(x-normal) {
        font-size: 15px;
    }
}

textarea.form-control {
    padding: 10px 20px;
    resize: none;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"], 
input[type="file"] {
    height: 50px;
    @include breakpoint(x-normal) {
        height: 45px;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: $theme-color;
}

.slick-slide {
    outline: none;
}

.form-control::-webkit-input-placeholder { 
    color:#999999;
}
.form-control::-moz-placeholder { 
    color:#999999;
}
.form-control:-ms-input-placeholder { 
    color:#999999;
}
input:-moz-placeholder { 
    color:#999999;
}

select,
select.form-control {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ffffff;
    height: 45px;
    outline: medium none;
    padding: 5px 30px 2px;
    text-indent: 1px;
    text-transform: none;
    width: 100%;
    background: white url("../images/select-arrow.png") no-repeat scroll 82% center;
    color: #000000;
    border-radius: 4px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 17px;
    @include breakpoint(x-normal) {
        font-size: 15px;
    }
}

select::-ms-expand {
    display: none;
}

label {
    font-size: 16px;
    color: $black;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    text-transform: $text-capitalize;
    @include breakpoint(x-normal) {
       font-size: 14px;
    }
}

/*---------- 2.1.3 Links ----------*/

a {
    transition: all 0.5s ease-in-out 0s;
    font-family: $font-family;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;    
}

/*---------- 2.2 Table -----------*/

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}
