//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$border-color: #e7e7e7;
$color-black: #343338;
$color-grey: #f8f8f8;
$color-light-grey: #fafafa;
$theme-color: #ec5520;

//Font Family 
$font-family: 'Poppins', sans-serif;
$font-abrilfatface: 'Abril Fatface', cursive;
$font-opensans: 'Open Sans', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;

$value: 16;